<header>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</header>
<div  class="container-fluid desktop">

<div class="home_view">
    <div  style="margin-left: -10px;">
 <nav class=" navbar navbar-expand-lg  ">
        {{#if message}}<div class="alert-success">{{message}}</div>{{/if}}
        <a style="color: black;" class="navbar-brand" href="#">
            <img src="/images/logo.png" width="30" height="30" class="d-inline " alt=""> |
            <span style="color: rgba(0,0,0,0.8)">CCCSP FUTA</span>

        </a>
        <button style="padding-bottom: 10px; margin-left: -12px; outline-color: #2e6da4" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span style="display: block; background-color: royalblue; height: 3px; width: 30px; margin-top: 7px;"></span>
            <span style="display: block; background-color: royalblue; height: 3px; width: 30px;  margin-top: 7px;"></span>
            <span style="display: block; background-color: royalblue; height: 3px; width: 30px;  margin-top: 7px;"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/land_page">Home</a>
                </li>
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="#">Notification</a>-->
                <!--</li>-->

                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="#">Help ?</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="#">About</a>-->
                <!--</li>-->
                <li class="nav-item">
                    <!--<a class="nav-link btn btn-primary" style="width: 150px;"  href="#">Login</a>-->
                    <a class="nav-link bg-primary " style="padding: 14px 60px;  color: white; font-size: 130%;"  href="/users/Register_member">Go to main page</a>
                </li>




            </ul>

        </div>
    </nav>

    </div>
   

</div>
    <div class="row bod" style="margin-top: -550px;color: white;">
        <div class="c col-md-6 col-sm-12 "> <h1 class="head"  style="  font-family: 'Nunito', sans-serif; font-weight: bolder">
            Peculiar Soft
          <h1 class="top"  style="line-height:50px;  margin-top: 40px; font-family: Verdana; font-weight: lighter">
                The peculiar soft is a platform that allows people to manage the affair of the church
            </h1>
            <p class="middle" style="font-size: 120%; line-height: 30px; margin-top: 40px;  font-family: Verdana">
                Peculiar soft performs the maintenance of a large scale database, mark attendance every sunday , send mesage to all missing members, show birthday celebrants and also send messages to them.
            </p>
        </h1></div>
        {{!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
  
    <div class="carousel-item">
      <img src="/images/pic15.jpg" class="img-fluid d-block w-100" alt="...">
    </div>

      <div class="carousel-item active">
      <img src="/images/pic1.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/images/pic2.jpg"  class="img-fluid  d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/images/pic3.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/images/pic11.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/images/pic12.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/images/pic13.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/images/pic14.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/images/DSC_0286.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/images/DSC_0288.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/images/DSC_0291.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/images/DSC_0293.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/images/DSC_0296.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/images/DSC_0297.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/images/DSC_0298.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
     <div class="carousel-item">
      <img src="/images/DSC_0299.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
     <div class="carousel-item">
      <img src="/images/DSC_0300.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
     <div class="carousel-item">
      <img src="/images/DSC_0301.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
     <div class="carousel-item">
      <img src="/images/DSC_0302.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
     <div class="carousel-item">
      <img src="/images/DSC_0303.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
     <div class="carousel-item">
      <img src="/images/DSC_0304.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
     <div class="carousel-item">
      <img src="/images/DSC_0305.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
     <div class="carousel-item">
      <img src="/images/DSC_0306.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
     <div class="carousel-item">
      <img src="/images/DSC_0307.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
     <div class="carousel-item">
      <img src="/images/DSC_0308.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
     <div class="carousel-item">
      <img src="/images/DSC_0309.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
     <div class="carousel-item">
      <img src="/images/DSC_0310.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
     <div class="carousel-item">
      <img src="/images/DSC_0311.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
     <div class="carousel-item">
      <img src="/images/DSC_0312.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
     <div class="carousel-item">
      <img src="/images/DSC_0313.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
     <div class="carousel-item">
      <img src="/images/DSC_0314.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
     
     <div class="carousel-item">
      <img src="/images/DSC_0327.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
     <div class="carousel-item">
      <img src="/images/DSC_0328.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
     <div class="carousel-item">
      <img src="/images/DSC_0349.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
     <div class="carousel-item">
      <img src="/images/DSC_0330.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
     <div class="carousel-item">
      <img src="/images/pic8.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
     <div class="carousel-item">
      <img src="/images/DSC_0358.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
     <div class="carousel-item">
      <img src="/images/DSC_0337.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
     <div class="carousel-item">
      <img src="/images/DSC_0338.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
    
     <div class="carousel-item">
      <img src="/images/DSC_0340.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
    
     <div class="carousel-item">
      <img src="/images/DSC_0342.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
     <div class="carousel-item">
      <img src="/images/DSC_0343.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
     <div class="carousel-item">
      <img src="/images/DSC_0316.jpg" class="img-fluid d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span style="background-color:blue;" class=" iii carousel-control-prev-icon" aria-hidden="true"></span>
    <span style="" class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span style="background-color:blue;" class="carousel-control-next-icon" aria-hidden="true"></span n>
    <span class="sr-only">Next</span>
  </a>
</div> --}}


        <!--<div  class="col-md-6 col-sm-12 right" style="padding-left: 70px;"> <div id="img" style=" height: 400px; width: 480px;"><img  src="/images/logo.png" style=" height: 400px; width: 480px;"></div>-->
        <!--<div style="position: absolute; margin-top: -30px; height: 40px; width: 530px; background-color: rgba(0,0,0,1)">-->
            <!--<p style=" text-align: center; color: white ; font-family: 'Nunito', sans-serif;font-size: 200%">STUDENT PARISH FUTA</p>-->
        <!--</div></div>-->
        <div  class="col-md-6 col-sm-12 right" style="padding-left: 70px;"> <div id="ig" style=""><img class="im " src="/images/logo.png" >
            <div style="position: absolute; margin-top: -30px; height: 40px; width: 530px; background-color: rgba(0,0,0,1)">
                <p style=" text-align: center; color: white ; font-family: 'Nunito', sans-serif;font-size: 200%">STUDENT PARISH FUTA</p>
            </div></div>
           </div>
        <div class="row">
            <div class="col-md-12 col-sm-6">
                <span class="link">  <a style="color: white" class="btn btn-primary b " href="/users/Register_member">Register </a> </span>
                <span> <a style="color: white"  class="btn ad_  " href="/users/signup">Add a new Admin</a></span>

            </div>
        </div>

    </div>
    <footer  style="padding-top:20px;width:100%;margin-top: -5px; text-align: center">
        <h2>&copy; copyright peculiar-tech 2020</h2>
    </footer>

    <script type="text/javascript">

        var img = document.getElementById('img');
        var images = ['/images/pic2.jpg','/images/pic3.jpg','/images/pic4.jpg','/images/pic5.jpg','/images/pic6.jpg','/images/pic7.jpg', '/images/pic8.jpg','/images/pic9.jpg','/images/pic10.jpg','/images/pic11.jpg','/images/pic12.jpg','/images/pic13.jpg','/images/pic14.jpg','/images/pic15.jpg'];
        var x = 0;

        function slide() {
            if (x < images.length) {
                x++;
            } else {
                x = 1;
            }
            img.innerHTML = "<img src= " + images[x - 1] + ">";

        }
        setInterval(slide, 7400);
    </script>

</div>
<style type="text/css">
.carousel-inner img.img-fluid{
height: 200px;
}
.carousel{
    display: none;
}
.bod{
    padding: 15px 70px; 
}
    img.im{

        height: 400px;
        width: 480px;
        /*animation: ani 7.4s infinite;*/

    }
    .btn{
        margin-top: 10px;
        width: 320px;
        padding-top: 18px;
        font-size: 170%;
        height: 82px;
        border: 1px solid white;
        border-radius: 60px;
    }
    .btn:hover{
        background: #2e6da4;
        color: white;
    }

    @keyframes ani {
       0%{opacity: 0;}
    }
    .b{
        /*background:#2e6da4;*/
    }
    .b:hover{
        color: white;
        background: transparent;
        border: 1px solid #2e6da4;
    }
  
    nav.navbar{
        border-radius:0;
        position: fixed;
        width: 100%;
        color:rgba(0,0,0,0.8);
        z-index: 2;
        background: white;
    }
    a{
        color:rgba(0,0,0,0.8);
        margin-left: 60px;
    }
    .iii{
       
        margin-left: -130px;
    }
    
    .navbar-brand{
        margin-left: -17px;
    }
h1.head{
    font-size: 360%;
}
h1.top{
    font-size: 240%;
}
  .home_view{
height: 100vh;
width: 100%;
      /*background-image: url("/images/back.jpg");*/
      background-color: rgba(0,0,200,1);
background-repeat: no-repeat;
      background-size: cover;
  }
.container{
   
   
}
.ani{
  animation: animi 0.3s infinite;
  transition: all 0.3s;

  color:rgb(74, 74, 253);
}
@keyframes animi{
  0%{
    margin-left: -2px;
  }
  50%{
    margin-right: 4px;
  }
  100%{
    margin-left: 0;
  }
}
.mobile{
  display: none;
}
    @media screen and (max-width: 768px) {
      .mobile{
        display: block;
      }
        .ad_{
            display: none;
        }
        .desktop{
          display: none;
        }
    .carousel{
    display: block;
     }
     .bod{
         padding: 10px 25px;
     }
        .container{
            width: 100%;
            padding: 0 0px;
        }
        .middle{
            display: none;
        }
        .right{
            display: none;
        }
        h1.top{
            padding-top: -40px;
            font-size: 180%;
            margin-top: -10px;
            line-height: 7px;
            text-align: center;

        }
        h1.head{
            text-align: center;
        }
        .link .btn{
          color:royalblue !important;
          padding: 4px 40px !important;
          margin-left: 64px;
        }
        a.b{
            
            border-radius: 2px;
           
            background-color: white;

        }
       .c h1.head{
           color: white;
           font-size: 242%;
           
           margin-top: -30px;
        }
       footer{
       background-color: blue;
       bottom:0;
       position: absolute;
       }
       footer h2{
         font-size: 20px;
         
         margin-bottom: 0;
       }
      .container-fluid{
          padding: 0;
          margin:0;
      }
       
        .btn{
            padding-top: 4px;
            font-size: 150%;


            margin-left: -5px;
            width: 100%;
            height: 40px;
        }
nav.navbar{
    width: 100%;

}

    }
</style>






<div class='mobile'>
<nav style="padding:24px 10px; background-color:white" class="navbar fixed-top  navbar-expand-lg navbar-light">
<a style="position: absolute; left:13px;"  class="navbar-brand" href="/">
    <img src="/images/logo.png" width="30" height="30" alt="">
  </a>
  <button style="position: absolute; right:13px; border:none;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <i style="font-size: 17px;padding:10px; color:royalblue" class="fas fa-ellipsis-v"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/users/Register_member">View Main Page<span class="sr-only">(current)</span></a>
      </li>

    </ul>
   
  </div>
</nav>

<div style="min-height: 100vh;align-items-center; padding:80px 30px;background-size:cover; repeat:no-repeat; background-color:royalblue" class="home_body">
      <h1 style="font-size: 30px; margin-bottom:20px; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif" class="text-center  text-light " >CCCSP FUTA</h1>
      
            
      <h3 style="margin-bottom:30px;padding:10px 0;background-color:rgba(0,0,0,0.1); font-size: 24px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"  class="text-center text-light mt-2 ">
            God's Peculiar Treasure
      </h3>
      <p style="font-size: 15px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"  class="text-center text-light mt-3">
        Register to create a sustainable data with the church and also have access to core information and updates about the Peculiar Treasures
      </p>
      <div class="align-items-center w-100">
<a href="/users/Register_member" class="ani btn btn-light">
  Register Now
</a>
      </div>
      <div style="margin-top: 20px;" id="carouselExampleSlidesOnly" class="carousel slide " data-ride="carousel">
  <div class="carousel-inner">
  <div class="carousel-item active">
      <img src="https://scontent-los2-1.xx.fbcdn.net/v/t1.0-9/70769072_768880023545848_7322763001654673408_n.jpg?_nc_cat=108&_nc_eui2=AeHGhWkCrMljqQD-1IVy1_tDiA8LHtyTx_OLgJKXaV81LB0LO2iYwghzW3yxpt7IwH9TQGL8A4qvisv4x550SCOv0GB3Q8O177U3PwwgeIthSw&_nc_ohc=Y-QZmqrEvcYAX8VgTtH&_nc_ht=scontent-los2-1.xx&oh=47494ff45e39e5a4a5b428bb8b5a6c16&oe=5EB5CC04" class="img-fluid d-block w-100 h-55" alt="...">
    </div>
      <div class="carousel-item ">
      <img src="https://scontent-los2-1.xx.fbcdn.net/v/t1.0-9/84554341_886815718418944_2826605783808999424_n.jpg?_nc_cat=107&_nc_eui2=AeGEEKnwuYozk5FisuQnv_rLKivKZwpqgYPbeY3bJf_ZNZsNyOcPIBju8aoZ0qQHUi__JG9C0wqXVPLrVT9IaaurMdXgzZOQ6sb2c5_vuKeUhg&_nc_ohc=Mr2VLA2qP2cAX-_zvxe&_nc_ht=scontent-los2-1.xx&oh=3d2bde77205262d01bf3632b7c1704cf&oe=5EFF5943" class="img-fluid d-block w-100 h-55" alt="...">
    </div>
    <div class="carousel-item ">
      <img src="https://scontent-los2-1.xx.fbcdn.net/v/t1.0-9/s960x960/70669013_771967599903757_9069854151755694080_o.jpg?_nc_cat=104&_nc_eui2=AeHbjbvrwxTkRLq3MMeSu86FqNtkBDgrBfYM-Vv7ak6gcYK-sh5HVXN91EhALbIPJluv_Nj_oflMpI6fI53y6I5x9UeUNvu5hyITPHa9G88oXg&_nc_ohc=oNzj7cIlQ24AX_LUKEY&_nc_ht=scontent-los2-1.xx&oh=c9ecf2032b64df73d6f1ae9241c1075f&oe=5EC83352" class="img-fluid d-block w-100 h-55" alt="...">
    </div>
     <div class="carousel-item ">
      <img src="https://scontent-los2-1.xx.fbcdn.net/v/t1.0-0/p640x640/60532571_690619848038533_5108933718228074496_o.jpg?_nc_cat=106&_nc_eui2=AeHuflUlRnEgdS4_CagUuYnfPtdMEtIW6CI1iDXKfDj2NSd0TbbAJ-RSAeTokXQCpnMzAtLQtWmTl9Ib44OFAVuPwuucgs1GImpsydv-dQ5oTA&_nc_ohc=VUyNkrG2bXEAX-d5v0s&_nc_ht=scontent-los2-1.xx&_nc_tp=6&oh=fc61eca8c7b121c2800566778553c595&oe=5ECF69AA" class="img-fluid d-block w-100 h-55" alt="...">
    </div>
      <div class="carousel-item ">
      <img src="https://scontent-los2-1.xx.fbcdn.net/v/t1.0-9/84685742_886815678418948_7123146657042006016_n.jpg?_nc_cat=106&_nc_eui2=AeFy4MzOQHE739jUXds3ICGLzAGIHs5O4H8X81gAfbweyqIg7AEFMutfGLm6XOdP04Lv0rqyRXHsqEaKTInFKXnV6p2WklbFUrf8ki8CxgY6yQ&_nc_ohc=3eQqoDKPPT8AX8SsBZC&_nc_ht=scontent-los2-1.xx&oh=6c87774bab5c6a09ca824f386c3391de&oe=5ED14D76" class="img-fluid d-block w-100 h-55" alt="...">
    </div>
     <div class="carousel-item">
      <img src="https://scontent-los2-1.xx.fbcdn.net/v/t1.0-9/s960x960/70600223_768879993545851_4595689348308926464_o.jpg?_nc_cat=110&_nc_eui2=AeEYzEmxniQ38wtdEo5cP9P5HkYN93U-5pv5pVszYhvLrU9sW58Lk846c1jUkEV7USfBn7JQNSnGdr1z9htAgXSydgY3fXsFbAYScyloEptBrg&_nc_ohc=nhN7rzFqdZ0AX-yIRGY&_nc_ht=scontent-los2-1.xx&oh=865a0dc16c68081e12839057971e8653&oe=5ED01B60" class="img-fluid d-block w-100  h-55" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://scontent-los2-1.xx.fbcdn.net/v/t1.0-9/84461838_886815585085624_4970633529323945984_n.jpg?_nc_cat=109&_nc_eui2=AeHXLrmFXzhPtLayoITryhR3szQ1mM7WFRM-n9oPtkqTZ0fPAqtcR4rvysjdqw2t4YO4iMtmxpOa6jloC8YK9XuoFOdgUOtM7lFa-8aqmu1ETA&_nc_ohc=avtb1GLC2dUAX9QQu1t&_nc_ht=scontent-los2-1.xx&oh=215d6861ca92b1db8ceafc89b3c43c15&oe=5EC43726" class="img-fluid d-block w-100  h-55" alt="...">
    </div>
   
     <div class="carousel-item">
      <img src="https://scontent-los2-1.xx.fbcdn.net/v/t1.0-0/p640x640/70280047_768880000212517_2933189803895685120_o.jpg?_nc_cat=103&_nc_eui2=AeEQg7sVrgABeTOKVxIIbhfmBTrDNF6gfpsbc8gu8iN5kfiMwaN8_fdE3PhKS8sJTrZ-95rc1StWCKkslkil8T8xTQjghMvKflJbIQ_R_Niz2A&_nc_ohc=zG83fZUK8uYAX8gxfPF&_nc_ht=scontent-los2-1.xx&_nc_tp=6&oh=f8ccdf8f40fc5634ade1a02ac794168e&oe=5F027DCA" class="img-fluid d-block w-100  h-55" alt="...">
    </div>
       <div class="carousel-item">
      <img src="https://scontent-los2-1.xx.fbcdn.net/v/t1.0-9/84647876_886815461752303_8488589216538689536_n.jpg?_nc_cat=106&_nc_eui2=AeHM5mlnndXDcyfr_Sj3NW_9blyGiP9fqL1-0Eue6kXjDy7nw7K-ozJsmWa9h4ttROLU5AJZO9XnvZbPtFTQrRaPqLKdg_QONzM3jussDlboEw&_nc_ohc=Y5QmiiaTlWwAX8dEqb-&_nc_ht=scontent-los2-1.xx&oh=428d08dbc57695615f00584f3510566f&oe=5EC47D4C" class="img-fluid d-block w-100  h-55" alt="...">
    </div>

       <div class="carousel-item">
      <img src="https://scontent-los2-1.xx.fbcdn.net/v/t1.0-9/s960x960/73069417_801458063621377_3715284188648177664_o.jpg?_nc_cat=107&_nc_eui2=AeEyhjO9nCN2o9AFCuVfHaeacKoap1dfsyznVFGdBkyR62Nz1MN08dUt3yNPV2ct7az5jtwVqvow591YEARlQbZxo30sh21EZEnyAcJ0liZYIg&_nc_ohc=TqCu006n5-8AX-EPd9w&_nc_ht=scontent-los2-1.xx&oh=2078234b9ab36c317f9a49146f31667c&oe=5EB64071" class="img-fluid d-block w-100  h-55" alt="...">
    </div>

       <div class="carousel-item">
      <img src="https://scontent-los2-1.xx.fbcdn.net/v/t1.0-9/s960x960/60790535_689605244806660_7425629345294581760_o.jpg?_nc_cat=110&_nc_eui2=AeGO7GY6xwLz_vhat6zCpYuZlpCXPf0ZIjWcqZyowwBiHeuDCuK1ESoxFEOpvA7Y1GTn9njacJMA9T3G5Vqo4YP3xAu8yEPC5CbvshTfZcDY8Q&_nc_ohc=Mw4HAF_ikC0AX-_bmZc&_nc_ht=scontent-los2-1.xx&oh=2a5d46fea7bea45b257f4cc761bc4973&oe=5EBBADFA" class="img-fluid d-block w-100  h-55" alt="...">
    </div>

       <div class="carousel-item">
      <img src="https://scontent-los2-1.xx.fbcdn.net/v/t1.0-9/p960x960/79452616_844609275972922_4521703365494702080_o.jpg?_nc_cat=103&_nc_eui2=AeEDf-zlXJKJBTgrIB_geRXDBJ_QT10OUjmryuyUakcXVHhhA8v7vBlRhZjbHrBs8GquCChTUTDIvHo_JpDvCoLexrETLWfYe2rWkcXQ7kq2zA&_nc_ohc=hPfhNfqLP_gAX8uQCdR&_nc_ht=scontent-los2-1.xx&_nc_tp=6&oh=049e710898b0369d691aefbad8414217&oe=5ED2C2DB" class="img-fluid d-block w-100  h-55" alt="...">
    </div>
  </div>
</div>
        
    </div>
</div>

<div class="container">
  <h3 style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;" class="text-center text-secondary my-4">
   We Are Blessed With
  </h3>
  <div style="padding:10px 23px;" class="row">
    <div class="col-sm-10">
          <div class="card" style="width: 100%; margin-bottom:30px;">
            <img src="https://scontent-los2-1.xx.fbcdn.net/v/t1.0-9/s960x960/60335466_689603541473497_6507229882731200512_o.jpg?_nc_cat=100&_nc_eui2=AeHfXPM5Sgz9LktCwYhSMGFT-93jZsDJ3wIfVSUPnA3d0pmE15yenRCNCtVCoFCPMLy7dkGmC0dzO8bUPDs_xn0JioBDFDvy7fagoKAUN88olg&_nc_ohc=ZaxeB2pYuEIAX94SDql&_nc_ht=scontent-los2-1.xx&oh=4f26f866f178db0ae5c96a2b92e4a9ac&oe=5EC5CD43" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Standard Choir Unit (Peculiar Voices)</h5>
              <a href="/users/choir" class="btn btn-primary">View Members</a>
            </div>
          </div>
    </div>
<div class="col-sm-10">
          <div class="card" style="width: 100%; margin-bottom:30px;">
            <img src="https://scontent-los2-1.xx.fbcdn.net/v/t1.0-9/s960x960/60216477_685536298546888_4003474604424167424_o.jpg?_nc_cat=101&_nc_eui2=AeEcp5junQfTVu7qzz0nmhQM5tVZ6tVJjHrOHMrz91HLqPzMcQKNYmyjDXlmBpMaLW8zEkZU8TjLPo4t38dvCCTcgS0YND2OAPII5RTKAx6Sug&_nc_ohc=7Zx84dvxnWwAX_N5vpY&_nc_ht=scontent-los2-1.xx&oh=1a2df5786c877f1ddd652e046a627760&oe=5EB83F73" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Standard Drama Unit (Eglise Drama Family)</h5>
              <a href="/users/drama" class="btn btn-primary">View Members</a>
            </div>
          </div>
    </div>
    <div class="col-sm-10">
          <div class="card" style="width: 100%; margin-bottom:30px;">
            <img src="https://scontent-los2-1.xx.fbcdn.net/v/t1.0-0/p640x640/60394737_690620898038428_2718489246376656896_o.jpg?_nc_cat=111&_nc_eui2=AeGORJgs8210IIkArQmYc8qrKOQcDYVpC5qjK8AMfCEjisQu7OxnxtXYkfPxWAumYUSrY3USrbYk2hB3Tt-xJRgiPzdAiIx0wqA9XU9pFvQ2WA&_nc_ohc=uHsCJytzKcAAX_SfllP&_nc_ht=scontent-los2-1.xx&_nc_tp=6&oh=df0e0080544c754825a3d81c9e40b0f1&oe=5EC35019" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Evangelism Unit</h5>
              <a href="/users/evangelism" class="btn btn-primary">View Members</a>
            </div>
          </div>
    </div>

      <div class="col-sm-10">
          <div class="card" style="width: 100%; margin-bottom:30px;">
            <img src="https://scontent-los2-1.xx.fbcdn.net/v/t1.0-9/84602740_886815508418965_6801102286836727808_n.jpg?_nc_cat=109&_nc_eui2=AeEtKkArx3cLbD0kEu6sCArWvr3TTkTMSmJmM08wC9XLsrjsjDdlmURjH3h6j5jGyH5SIp3kVuuJlRrU-D0bmtCaMhic_D4N-Zso_EHo3sAabA&_nc_ohc=A_cBs-_ziTgAX_88Tlj&_nc_ht=scontent-los2-1.xx&oh=8a5890df63d0dee52f4b0595f8625d8d&oe=5EBD5307" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Welfare Unit</h5>
              <a href="/users/welfare" class="btn btn-primary">View Members</a>
            </div>
          </div>
    </div>

       <div class="col-sm-10">
          <div class="card" style="width: 100%; margin-bottom:30px;">
            <img src="https://scontent-los2-1.xx.fbcdn.net/v/t1.0-9/84674828_886815651752284_5786509064515092480_n.jpg?_nc_cat=101&_nc_eui2=AeFHLDbUxEogkKf2x0Zwwd9j6OcEi6XWk8CKxgeKVS9IrtvevJdDLwg4fC6t-azPDUk3mCtpOWpMQa-tpKnUvyLQ2BaZiEgreK_gOjkEJ1WexA&_nc_ohc=aHe92UShX0oAX8ej_a9&_nc_ht=scontent-los2-1.xx&oh=15bc1df7358e0ba27aae0b1f30eaae58&oe=5EB5F5E5" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ushering Unit</h5>
              <a href="/users/ushering" class="btn btn-primary">View Members</a>
            </div>
          </div>
    </div>
       <div class="col-sm-10">
          <div class="card" style="width: 100%; margin-bottom:30px;">
            <img src="https://scontent-los2-1.xx.fbcdn.net/v/t1.0-9/p960x960/56377146_664925387274646_768835812119805952_o.jpg?_nc_cat=106&_nc_eui2=AeFaaoVbpvaA0NWJ6PNQvCQvz8ehste1vtKO91hi4joX4HAbsMZ84KfBWOvDYehzwepRRcJY8ATagiKzu1Wv6YU8xGgixSQsh0s_5Xy78ifXGA&_nc_ohc=FjUUe_t5WG4AX_4Y7bz&_nc_ht=scontent-los2-1.xx&_nc_tp=6&oh=d061de6291a56f7fcb2b5e0d261ced6e&oe=5EC283EC" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Publicity Unit</h5>
              <a href="/users/publicity" class="btn btn-primary">View Members</a>
            </div>
          </div>
    </div>

     <div class="col-sm-10">
          <div class="card" style="width: 100%; margin-bottom:30px;">
            <img src="https://scontent-los2-1.xx.fbcdn.net/v/t1.0-9/p960x960/56506574_664922323941619_6980595026040455168_o.jpg?_nc_cat=109&_nc_eui2=AeFv4kUYmJtwkYysIbnV4ZfQtP6C7sXW9OtcqUYT6AxjI7y2WieNhr4nu49zOxfTT9w-3muQvdzd-JGZ-1R38L3xa1OrOY2mIov5Hdp8izOH3A&_nc_ohc=rnc_9WC5jh4AX_6qJ7i&_nc_ht=scontent-los2-1.xx&_nc_tp=6&oh=68ea0944155999a44a5781c358aef4a6&oe=5EBC8913" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Academic Unit</h5>
              <a href="/users/academic" class="btn btn-primary">View Members</a>
            </div>
          </div>
    </div>
<div class="col-sm-10">
          <div class="card" style="width: 100%; margin-bottom:30px;">
            <img src="https://scontent-los2-1.xx.fbcdn.net/v/t1.0-9/s960x960/60359545_689604914806693_7798671955309101056_o.jpg?_nc_cat=111&_nc_eui2=AeERReQaPPlVr6hzJrXTaDlsMzSnE5QkTc_4Y_YYkyegnoePCk6Qki0vsHlhHifKTOMnDVo77MzHI3wxYfbc8vc5ysePGL6GBm48xHCuBULfCw&_nc_ohc=52-wF1CkahcAX_yzA1n&_nc_ht=scontent-los2-1.xx&oh=2d7b2a91c7cbb88f5d7392de9e936187&oe=5ED65B14" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Excellent Alumni</h5>
              <a href="/users/alumni" class="btn btn-primary">View Alumni</a>
            </div>
          </div>
    </div>

    <div class="col-sm-10">
              <a style="padding:10px 10px;height:50px; border-radius:0;" href="/users/Register_member" class="btn btn-primary">Register Now</a>
           
    </div>


       
    </div>
  </div>
 
</div>
</div>