<header>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</header>
<div class="container" onkeypress="clear()"  style="min-width: 110%;margin-left: -20px">
    <header style=" background-color: rgba(0,80,70,1); height: 100px;">
        <div class="row">
            <div class="col-md-6 col-sm-12">
    <h2 class="navbar-brand" style="font-weight: bold; font-size: 130%; color: white; margin-left: 13px; margin-top: -3px">FutaChat</h2>
                <div class="dot pull-right" id="toggle">
                    <span id="toggle" class="span"></span>
                    <span id="toggle" class="span"></span>
                    <span id="toggle" class="span"></span>
                </div>

            </div>
        </div>

        <div class="navbar" style="text-align: center; text-transform: uppercase">
            <div class="navbar-collapse">
                <div class="navbar-link">
                    <ul class="list-inline">
                        <li style="border-bottom: 2px solid white;padding-bottom: 5px; color: white; margin-left: -30px;"  >CHATS<span class="badge" style="text-align: center; width: 20px;padding-left: -20px; margin-left: 5px; background-color: white;color: rgba(0,80,70,1);" ><span style="margin-left: -5px;">40</span></span> </li>
                        <li style="color: white" >STATUS <span style="margin-bottom: 2px; display:inline-block; width: 6px; height: 6px; border-radius: 50%;background-color: white"></span> </li>
                        <li style="color: white" >CALLS</li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="row">

<div class="side"  id="side" onmouseleave="clear()">

    <ul>
        <li style="margin-top: 16px;">
            New group
        </li>
        <li>
            New broadcast
        </li>
        <li>
            WhatsApp Web
        </li>
        <li>
            Starred messages
        </li>
        <li>
           Settings
        </li>

    </ul>
</div>
    </div>


    <div class="row">
        <ul class="list-unstyled" style="border-bottom: rgba(0,0,0,0.3); margin-top: 10px;">
            <li style="width: 130%;padding-bottom: 20px; border-bottom: 1px solid rgba(0,0,0,0.1)" >
                <div style=" margin-left: -10px;margin-top:-6px; background-color: rgba(0,0,0,0.5); border-radius: 50%; width: 48px; height: 48px;" class="pull-left clearfix"></div>
                <div style="margin-left: 30px; margin-top: 12px;margin-bottom: -20px; ">
                    <h4 style="font-weight: bold; font-size: 120%; margin-left: 20px; color: rgba(0,0,0,1);">School of Computing <span class="badge"  style="margin-left:69px;color :lightgreen ; background-color: transparent">7:51AM</span></h4>
                    <p style="margin-top: -7px;margin-left: 20px;" class="text-muted">How are you doing <span  class="badge" style="margin-left: 110px; width: 22px; height: 22px; color: white; border-radius: 50%; background-color :lightgreen"><span style="text-align: center; margin-left:-3px; margin-bottom: -6px;">90</span></span> </p>

                </div>
            </li>
        </ul>
    </div>

    <div class="row">
        <ul class="list-unstyled" style="border-bottom: rgba(0,0,0,0.3); margin-top: 10px;">
            <li style="width: 130%;padding-bottom: 20px; border-bottom: 1px solid rgba(0,0,0,0.1)" >
                <div style=" margin-left: -10px;margin-top:-6px; background-color: rgba(0,0,0,0.5); border-radius: 50%; width: 48px; height: 48px;" class="pull-left clearfix"></div>
                <div style="margin-left: 30px; margin-top: 12px;margin-bottom: -20px; ">
                    <h4 style="font-weight: bold; font-size: 120%; margin-left: 20px; color: rgba(0,0,0,1);">School of Science <span class="badge"  style="margin-left:69px;color :lightgreen ; background-color: transparent">7:51AM</span></h4>
                    <p style="margin-top: -7px;margin-left: 20px;" class="text-muted">How are you doing <span  class="badge" style="margin-left: 110px; width: 22px; height: 22px; color: white; border-radius: 50%; background-color :lightgreen"><span style="text-align: center; margin-left:-3px; margin-bottom: -6px;">90</span></span> </p>

                </div>
            </li>
        </ul>
    </div>


    <div class="row">
        <ul class="list-unstyled" style="border-bottom: rgba(0,0,0,0.3); margin-top: 10px;">
            <li style="width: 130%;padding-bottom: 20px; border-bottom: 1px solid rgba(0,0,0,0.1)" >
                <div style=" margin-left: -10px;margin-top:-6px; background-color: rgba(0,0,0,0.5); border-radius: 50%; width: 48px; height: 48px;" class="pull-left clearfix"></div>
                <div style="margin-left: 30px; margin-top: 12px;margin-bottom: -20px; ">
                    <h4 style="margin-left: 20px; color: rgba(0,0,0,1);">Bella</h4>
                    <p style="margin-top: -9px;margin-left: 20px;" class="text-muted">How was ur day</p>

                </div>
            </li>
        </ul>
    </div>



    <div class="row">
        <ul class="list-unstyled" style="border-bottom: rgba(0,0,0,0.3); margin-top: 10px;">
            <li style="width: 130%;padding-bottom: 20px; border-bottom: 1px solid rgba(0,0,0,0.1)" >
                <div style=" margin-left: -10px;margin-top:-6px; background-color: rgba(0,0,0,0.5); border-radius: 50%; width: 48px; height: 48px;" class="pull-left clearfix"></div>
                <div style="margin-left: 30px; margin-top: 12px;margin-bottom: -20px; ">
                    <h4 style="margin-left: 20px; color: rgba(0,0,0,1);">Bolamigbe</h4>
                    <p style="margin-top: -9px;margin-left: 20px;" class="text-muted">How are you doing</p>

                </div>
            </li>
        </ul>
    </div>


    <div class="row">
        <ul class="list-unstyled" style="border-bottom: rgba(0,0,0,0.3); margin-top: 10px;">
            <li style="width: 130%;padding-bottom: 20px; border-bottom: 1px solid rgba(0,0,0,0.1)" >
                <div style=" margin-left: -10px;margin-top:-6px; background-color: rgba(0,0,0,0.5); border-radius: 50%; width: 48px; height: 48px;" class="pull-left clearfix"></div>
                <div style="margin-left: 30px; margin-top: 12px;margin-bottom: -20px; ">
                    <h4 style="margin-left: 20px; color: rgba(0,0,0,1);">Lullabi</h4>
                    <p style="margin-top: -9px;margin-left: 20px;" class="text-muted">Hello bay</p>

                </div>
            </li>
        </ul>
    </div>


    <div class="row">
        <ul class="list-unstyled" style="border-bottom: rgba(0,0,0,0.3); margin-top: 10px;">
            <li style="width: 130%;padding-bottom: 20px; border-bottom: 1px solid rgba(0,0,0,0.1)" >
                <div style=" margin-left: -10px;margin-top:-6px; background-color: rgba(0,0,0,0.5); border-radius: 50%; width: 48px; height: 48px;" class="pull-left clearfix"></div>
                <div style="margin-left: 30px; margin-top: 12px;margin-bottom: -20px; ">
                    <h4 style="font-weight: bold; font-size: 110%; margin-left: 20px; color: rgba(0,0,0,1);">School of Computing <span class="badge"  style="margin-left:69px;color :lightgreen ; background-color: transparent">7:51AM</span></h4>
                    <p style="margin-top: -7px;margin-left: 20px;" class="text-muted">How are you doing <span  class="badge" style="margin-left: 110px; width: 22px; height: 22px; color: white; border-radius: 50%; background-color :lightgreen"><span style="text-align: center; margin-left:-3px; margin-bottom: -6px;">90</span></span> </p>

                </div>
            </li>
        </ul>
    </div>

    <div class="row">
        <ul class="list-unstyled" style="border-bottom: rgba(0,0,0,0.3); margin-top: 10px;">
            <li style="width: 130%;padding-bottom: 20px; border-bottom: 1px solid rgba(0,0,0,0.1)" >
                <div style=" margin-left: -10px;margin-top:-6px; background-color: rgba(0,0,0,0.5); border-radius: 50%; width: 48px; height: 48px;" class="pull-left clearfix"></div>
                <div style="margin-left: 30px; margin-top: 12px;margin-bottom: -20px; ">
                    <h4 style="margin-left: 20px; color: rgba(0,0,0,1);">Opeyemi</h4>
                    <p style="margin-top: -9px;margin-left: 20px;" class="text-muted">Bawoni</p>

                </div>
            </li>
        </ul>
    </div>



    <div class="row">
        <ul class="list-unstyled" style="border-bottom: rgba(0,0,0,0.3); margin-top: 10px;">
            <li style="width: 130%;padding-bottom: 20px; border-bottom: 1px solid rgba(0,0,0,0.1)" >
                <div style=" margin-left: -10px;margin-top:-6px; background-color: rgba(0,0,0,0.5); border-radius: 50%; width: 48px; height: 48px;" class="pull-left clearfix"></div>
                <div style="margin-left: 30px; margin-top: 12px;margin-bottom: -20px; ">
                    <h4 style="margin-left: 20px; color: rgba(0,0,0,1);">Boss mi</h4>
                    <p style="margin-top: -9px;margin-left: 20px;" class="text-muted">How are you</p>

                </div>
            </li>
        </ul>
    </div>



    <div class="row">
        <ul class="list-unstyled" style="border-bottom: rgba(0,0,0,0.3); margin-top: 10px;">
            <li style="width: 130%;padding-bottom: 20px; border-bottom: 1px solid rgba(0,0,0,0.1)" >
                <div style=" margin-left: -10px;margin-top:-6px; background-color: rgba(0,0,0,0.5); border-radius: 50%; width: 48px; height: 48px;" class="pull-left clearfix"></div>
                <div style="margin-left: 30px; margin-top: 12px;margin-bottom: -20px; ">
                    <h4 style="margin-left: 20px; color: rgba(0,0,0,1);">Boss mi</h4>
                    <p style="margin-top: -9px;margin-left: 20px;" class="text-muted">How are you</p>

                </div>
            </li>
        </ul>
    </div>






</div>
<script type="text/javascript">
    const side = document.getElementById('side');
    const toggle= document.getElementById('toggle');

    side.style.display="none";
    toggle.addEventListener('click' , display);
     function display(){
     side.style.display='block';

     }
    side.addEventListener('mouseleave' , clear);
     function clear() {
         side.style.display="none";

     }

</script>
<style>

    .side{
        margin-top: -94px;
        margin-left: 1090px;
        height: 230px;

        width: 20%;
        padding-bottom: 20px;
        border-radius: 4px;
        box-sizing: border-box;
        box-shadow:  0 2px 2px 2px rgba(0,0,0,0.1)
    }
    ul{
        padding: 0;
        margin: 0;

    }
    .side ul li{
        margin-left: 10px;
        list-style: none;
        margin-top: 24px;
        font-weight: lighter;
        font-size: 97%;



    }
li{
    margin-left: 43px;
    font-weight: bold;
    font-size: 92%;
}
    .dot{
margin-right: -620px;
        margin-top: 10px;
        z-index: 1;
    }
    span.span{
        width: 5px;
        height: 5px;
        margin-top: 3px;
        border-radius: 50%;
        background-color: white;
        display: block;
    }
    @media (max-width: 768px){
        .dot {
            margin-top: 10px;
            margin-right: 14px;
            z-index: 1;

        }
        .side{
            margin-left: 180px;
            height: 230px;

            width: 54%;
            padding-bottom: 20px;
            border-radius: 4px;
            box-sizing: border-box;
            box-shadow:  0 2px 2px 2px rgba(0,0,0,0.1);
            margin-top: -94px;
        }
        ul{
            padding: 0;
            margin: 0;

        }
        .side ul li{
            margin-left: 10px;
            list-style: none;
            margin-top: 24px;
            font-weight: lighter;
            font-size: 110%;




        }
        li{
            margin-left: 43px;
            font-weight: bold;

        }
        .side{



        }
    }
    .side{
        background-color: white;
        z-index: 1;
        position: absolute;

    }
</style>