
{{>sidebar}}

{{> store}}


<div class="content">

    <div class="box " style="width: 900px">


<ul class="level" style=" list-style: none;padding: 0; margin: 0; background-color: white">
    <li>

        <a  href="/users/100l">     <button style="font-family: Verdana; font-size: 130%; font-weight: bold; height: 70px; width: 400px" type="submit"  class="btn btn-primary">100 LEVEL</button></a>


    </li>

    <li  class="pull-right">

        <a  href="/users/200l"><button style="margin-top: -92px; font-family: Verdana; font-size: 130%; font-weight: bold; height: 70px; width: 400px" type="submit"  class="btn btn-primary">200 LEVEL</button></a>


    </li>


    <li>

        <a  href="/users/300l">     <button style="font-family: Verdana; font-size: 130%; font-weight: bold; height: 70px; width: 400px" type="submit"  class="btn btn-primary">300 LEVEL</button></a>


    </li>

    <li  class="pull-right">

        <a  href="/users/400l"> <button style="margin-top: -92px; font-family: Verdana; font-size: 130%; font-weight: bold; height: 70px; width: 400px" type="submit"  class="btn btn-primary">400 LEVEL</button></a>


    </li>

    <li>

        <a  href="/users/500l">     <button style="font-family: Verdana; font-size: 130%; font-weight: bold; height: 70px; width: 400px" type="submit"  class="btn btn-primary">500 LEVEL</button></a>


    </li>

</ul>



    </div>
    <footer style="margin-top: 420px; text-align: center; padding-top: 38px ; margin-left: -10px">
        <p style=" font-size: 130%; font-family: Verdana; font-weight: bold">&copy; copyright 2019 Peculiar-tech</p>
    </footer>
</div>
</div>

<div class="row mobile_view">
    <div class="col-sm-12">
        <a class="btn btn-primary" style="font-size: 120%; padding-top: 10px; margin-top: 43px; margin-left: 40px; width:300px;  color:white; height: 50px" href="/users/100l">
            100 LEVEL
        </a>
    </div>


    <div class="col-sm-12">
        <a class="btn btn-primary" style="font-size: 120%; padding-top: 10px; margin-top: 30px; margin-left: 40px; width:300px;  color:white; height: 50px" href="/users/200l">
            200 LEVEL
        </a>
    </div>


    <div class="col-sm-12">
        <a class="btn btn-primary" style="font-size: 120%; padding-top: 10px; margin-top: 30px; margin-left: 40px; width:300px;  color:white; height: 50px" href="/users/300l">
            300 LEVEL
        </a>
    </div>

    <div class="col-sm-12">
        <a class="btn btn-primary" style="font-size: 120%; padding-top: 10px; margin-top: 30px; margin-left: 40px; width:300px;  color:white; height: 50px" href="/users/400l">
            400 LEVEL
        </a>
    </div>

    <div class="col-sm-12">
        <a class="btn btn-primary" style="font-size: 120%; padding-top: 10px; margin-top: 30px; margin-left: 40px; width:300px;  color:white; height: 50px" href="/users/500l">
            500 LEVEL
        </a>
    </div>
</div>











<style type="text/css">
   .box{
       animation: animate 1.2s linear;

   }

   @keyframes animate  {
       0%{transform: translateX(189px)}
       0%{opacity: 0;}
       50%{opacity: 0.5;}
   }
/*h2{*/
    /*padding: 30px 10px;*/
/*}*/
   button {
       margin-top: 3px;
   }
   a{color: white;

   }


   .con{

   }
   .cont{
       margin-top: -20px;
       position: relative;
   }


   .content{
       padding: 10px 10px;
       width : 1123px;
       height: 635px;
       position:absolute;
       border: 1px solid rgba(0 ,0, 0, 0.4);
       margin-left: 224px;
       margin-top: 35px;
       background-color: white;
   }
   @media (max-width: 768px){
       /*img{*/
       /*margin-top: -30px;*/
       /*}*/
       .content{
           display: none;

       }
       .mobile_view{
           padding: 0 5px;
           /*margin-top: 20px;*/
           display: block;

       }
       .mobile_view li{
           background-color: royalblue;
       }
       .mobile_view ul{
           background-color: royalblue;
       }
       .mb{
           display: block;
       }
       .col-sm-12{
           font-weight: bold;
           margin-top: 5px;
       }
   }
</style>





