
{{>sidebar}}
{{>store}}


<div class="content">

    <div class="box " style="width: 900px">
<h3>Select Unit</h3>

        <ul class="level" style=" list-style: none;padding: 0; margin: 0; background-color: white">
            <li>

                <a  href="/users/evangelism">     <button style="font-family: Verdana; font-size: 130%; font-weight: bold; height: 70px; width: 400px" type="submit"  class="btn btn-primary">Evangelism unit</button></a>


            </li>

            <li  class="pull-right">

                <a  href="/users/choir"><button style="margin-top: -92px; font-family: Verdana; font-size: 130%; font-weight: bold; height: 70px; width: 400px" type="submit"  class="btn btn-primary">Choir Unit</button></a>


            </li>


            <li>

                <a  href="/users/drama">     <button style="font-family: Verdana; font-size: 130%; font-weight: bold; height: 70px; width: 400px" type="submit"  class="btn btn-primary">Drama Unit</button></a>


            </li>

            <li  style="position: absolute;margin-top:220px">

                <a  href="/users/welfare"> <button style="margin-top: -92px; font-family: Verdana; font-size: 130%; font-weight: bold; height: 70px; width: 400px" type="submit"  class="btn btn-primary">Welfare Unit</button></a>


            </li>

            <li style="margin-top: 74px;position:relative">

                <a  href="/users/academic">     <button style="font-family: Verdana; font-size: 130%; font-weight: bold; height: 70px; width: 400px" type="submit"  class="btn btn-primary">Academic Unit</button></a>


            </li>

            <li  class="pull-right">

                <a  href="/users/publicity"> <button style="margin-top: -380px; font-family: Verdana; font-size: 130%; font-weight: bold; height: 70px; width: 400px" type="submit"  class="btn btn-primary">Publicity Unit </button></a>


            </li>
             <li style="margin-top: -74px;">

                <a  href="/users/ushering"> <button style="margin-top: -92px; font-family: Verdana; font-size: 130%; font-weight: bold; height: 70px; width: 400px" type="submit"  class="btn btn-primary">Ushering Unit</button></a>


            </li>
        </ul>

    </div>

    <footer style="margin-top: 400px; text-align: center; padding-top: 38px ; margin-left: -10px">
        <p style=" font-size: 130%; font-family: Verdana; font-weight: bold">&copy; copyright 2020 Peculiar-tech</p>
    </footer>
</div>

<div class="mobile_view">

    <div class="box " style="width: 100%;padding: 0 20px;">
        <h3>Select Unit</h3>

        <ul class="level" style=" list-style: none;padding: 0; margin: 0; background-color: white">
            <li>

                <a  href="/users/evangelism">     <button style="font-family: Verdana; font-size: 110%; font-weight: bold; height: 40px; width: 98%" type="submit"  class="btn btn-primary">Evangelism unit</button></a>


            </li>

            <li  >

                <a  href="/users/choir"><button style="font-family: Verdana; font-size: 110%; font-weight: bold; height: 40px; width: 98%"  type="submit"  class="btn btn-primary">Choir Unit</button></a>


            </li>


            <li>

                <a  href="/users/drama">     <button style="font-family: Verdana; font-size: 110%; font-weight: bold; height: 40px; width: 98%"  type="submit"  class="btn btn-primary">Drama Unit</button></a>


            </li>

            <li  class="">

                <a  href="/users/welfare"> <button style="font-family: Verdana; font-size: 110%; font-weight: bold; height: 40px; width: 98%"  type="submit"  class="btn btn-primary">Welfare Unit</button></a>


            </li>

            <li>

                <a  href="/users/academic">     <button style="font-family: Verdana; font-size: 110%; font-weight: bold; height: 40px; width: 98%"  type="submit"  class="btn btn-primary">Academic Unit</button></a>


            </li>

            <li  class="">

                <a  href="/users/publicity"> <button style="font-family: Verdana; font-size: 110%; font-weight: bold; height: 40px; width: 98%"  type="submit"  class="btn btn-primary">Publicity Unit</button></a>


            </li>
            
            <li  class="">

                <a  href="/users/ushering"> <button style="font-family: Verdana; font-size: 110%; font-weight: bold; height: 40px; width: 98%"  type="submit"  class="btn btn-primary">Ushering Unit</button></a>


            </li>
        </ul>

    </div>
</div>







<style type="text/css">
    @media (max-width: 768px) {
        .d{
            display: block;
        }
        .content{
            display:none;
        }
        .mobile_view{
            display: block;
        }

    }
    .box{
        animation: animate 1.2s linear;

    }

    @keyframes animate  {
        0%{transform: translateX(189px)}
        0%{opacity: 0;}
        50%{opacity: 0.5;}
    }
    /*h2{*/
    /*padding: 30px 10px;*/
    /*}*/
    button {
        margin-top: 3px;
    }
    a{color: white;

    }


    .con{

    }
    .cont{
        margin-top: -20px;
        position: relative;
    }


    .content{
        padding: 10px 10px;
        width : 1123px;
        height: 635px;
        position:absolute;
        border: 1px solid rgba(0 ,0, 0, 0.4);
        margin-left: 224px;
        margin-top: 35px;
        background-color: white;
    }
</style>




